{% extends "cube_base.html" %}

{% block top %}
			<center>
			 The state of the Groovik's Cube simulator at the Pacific Science Center right now. 
			</center>
{% endblock %}

{% block bottom %}
        <center>
          <a href="http://www.groovik.com">www.groovik.com</a>
        	<br>To see the simulator in full action go and visit the <br><a href="http://www.pacsci.org/">Seattle Science Center</a>.
					<br>Note that the interface there includes 5 different mode buttons to set the cube into various states of difficulty. 
					It looks like shown on the picture below. It runs on a touch screen and players can simply touch the arrows to move the cube.
					<br><img src="/static/cube_interface.png" >
					
				</center>
{% endblock %}
	
