{% extends "cube_base.html" %}

{% block top %}
			<div class="toprow" >
				<img class="bigbutton"   id="rookie"      src="/static/button_rookie.png"  alt="Rookie"  >
				<img class="bigbutton"   id="student"     src="/static/button_student.png" alt="Student" >
				<img class="bigbutton"   id="master"      src="/static/button_master.png"  alt="Master"  >
				<div class="clear"></div>
	            <input id="game_state" class="debug" type="text" value="<default>" >
	            <input id="active_position" class="debug" type="text" value="<default>" >
			</div>
{% endblock %}

{% block bottom %}
        <center>
          <h2> This puzzle requires 3 people to solve. </h2>
					<h2> There are 2 other stations.  Each station controls one axis of the cube. 
					Grab 2 friends and work cooperatively to gain control of the entire cube
					and solve!
					</h2>
          www.groovik.com
        </center>
{% endblock %}


